{% extends "base.html" %}

{% block lab %}Расчетно-графическое задание{% endblock %}

{% block main %}
<h1>Список объявлений</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Почта</th>
                <th>Тема объявления</th>
                <th>Текст объявления</th>
                {% if current_user.login == 'admin' %}
                <th>Действие</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.username }}</td>
                {% if current_user.is_authenticated %}
                    <td>{{ article.mail }}</td>
                {% else %}
                    <td>***</td>
                {% endif %}
                <td>{{ article.title }}</td>
                <td>{{ article.article_text }}</td>
                {% if current_user.login == 'admin' %}
                <td>
                    <form action="/delete/{{ article.id }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    
    <p><a href="/" style="color: rgb(119, 81, 39); border: 2px solid rgb(119, 81, 39); 
    padding: 5px 10px; border-radius: 5px; margin-right: 10px;">Вернуться на главную</a></p><br><br>
{% endblock %}