{% extends "base.html" %}

{% block lab %}Расчетно-графическое задание{% endblock %}

{% block main %}
    <h1>Мои объявления</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h3><a href="/articles/{{ article.id }}">{{ article.title }}</a></h3>
            </li>
        {% endfor %}
    </ul><br><br>
    <p>
        <a href="/" style="color: rgb(119, 81, 39); border: 2px solid rgb(119, 81, 39); 
        padding: 5px 10px; border-radius: 5px; margin-right: 10px;">Вернуться на главную</a>
    </p>
{% endblock %}